<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="alert alert-danger" role="alert">
        HMO Rates
    </div>
    <p>
        <a href="{% url 'products-show' %}">Products--></a>
    </p>
    <p>
        <a href="{% url 'plan-show' %}">Plans--></a>
    </p>
    <p>
        <a href="{% url 'roomtype-show' %}">Rooms--></a>
    </p>
    <p>
        <a href="{% url 'limittype-show' %}">Limit Types--></a>
    </p>
    <p>
        <a href="{% url 'membertype-show' %}">Member Types--></a>
    </p>
    <p>
        <a href="{% url 'roomtype-show' %}">Plans--></a>
    </p>
    <br>
    <div class="alert alert-danger" role="alert">
        Providers
    </div>
    <p>
        <a href="{% url 'provider-show' %}">Providers List--></a>
    </p>
</body>